/Browser/obj
/Browser/*.suo
/Browser/bin/Debug
/Browser/bin/Release/FoldingBrowser.vshost.exe
/Browser/bin/Release/FoldingBrowser.vshost.exe.manifest
/Browser/.vs
/Browser/bin/Release/*.pdb
/Browser/bin/Release/*.xml
/Browser/bin/Release/FoldingBrowser.vshost.exe.config
/Browser/packages
/Browser/bin/Release/*.pak
/Browser/bin/Release/*.dll
/Browser/bin/Release/*.bin
/Browser/bin/Release/*.dat
/Browser/bin/Release/CefSharp.BrowserSubprocess.exe
/Browser/bin/Release/locales
/Browser/bin/Release/FoldingBrowser.html
/Install/VCx86Redist/*.exe
/Browser/bin/Release/swiftshader
/Browser/bin/Release/FoldingBrowser.exe.config
/Browser/bin/Release/FoldingBrowser.exe
