/Browser/obj
/Browser/*.suo
/Browser/bin/Debug
/Browser/bin/Release/FoldingBrowser.vshost.exe
/Browser/bin/Release/FoldingBrowser.vshost.exe.manifest
/Browser/.vs
/Browser/bin/Release/*.pdb
/Browser/bin/Release/*.xml
/Browser/bin/Release/FoldingBrowser.vshost.exe.config
